name: Release

on:
  push:
    tags:
      - 'v*' # v1.0.0 같은 태그를 푸쉬하면 빌드가 시작됩니다.

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build and Publish
        # electron-forge publish 명령어를 사용하여 GitHub Release에 파일을 올립니다.
        run: npm run publish
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}